@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

.tabler {
    width: 100%;
    margin-bottom: 2px;

    th,
    td {
        vertical-align: top;
        border-top: 1px solid transparent !important;
    }

}
