<template>
    <form>
        <!--Label: Name, Attributes: name-->
        <div class="col-md-12 form-group" :class="{ 'has-error' : errors.name }">
            <label for="name" class="control-label">Item Name</label>
            <div>
                <input type="text" class="form-control" id="name"
                       v-model="name"
                       autocomplete="off">
                <div class="help-block" v-if="errors.name">
                    <strong>{{ errors.name.toString() }}</strong>
                </div>
            </div>
        </div>

        <!--Label: Group, Attributes: group-->
        <div class="col-md-12 form-group" :class="{ 'has-error' : errors.group }">
            <label for="group" class="control-label">Group</label>
            <div>

                <select class="form-control" v-model="group" id="group" name="group">
                    <option v-for="groups in groupings" :value="groups.id">{{ groups.group}}</option>
                </select>

                <div class="help-block" v-if="errors.group">
                    <strong>{{ errors.group.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Unit, Attributes: unit-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.unit }">
            <label for="unit" class="control-label">Unit</label>
            <div>
                <input type="text" class="form-control" id="unit"
                       v-model="unit"
                       autocomplete="off">
                <div class="help-block" v-if="errors.unit">
                    <strong>{{ errors.unit.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" @click.prevent="addItem()">
                Add Item
                <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': savingItem}"></i>
            </button>
        </div>

    </form>
</template>

<script>
    export default {
        name: "create",
        props: ['groupings'],
        data() {
            return {
                name: '',
                errors: '',
                group: '',
                unit: '',
                savingItem: false
            }
        },
        methods: {
            addItem() {
                this.savingItem = true;
                axios.post('/items', this.$data).then(response => {
                    this.savingItem = false;
                    this.name = '';
                    Bus.$emit('itemAdded',response.data);
                }).catch(error => {
                    this.savingItem = false;
                    this.errors = error.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>
