<template>
    <table id="itemstable"
           class="display nowrap table table-hover table-striped"
           cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Group</th>
            <th>In Stock</th>
            <th>Issued</th>
            <th>Received</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="(item,index) in items">
            <td>
                <a :href="'/items/'+item.id">{{ item.name }}</a>
            </td>
            <td><a :href="'/groups/'+item.group.id">{{ item.group.group }}</a></td>
            <td>{{ item | instock }}</td>
            <td>{{ item | issued }}</td>
            <td>{{ item | received }}</td>
            <td>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark d-none d-lg-block m-l-15" data-toggle="modal"
                                data-target=".bs-edit-modal">
                            <i class="fa fa-pencil"></i>
                        </button>

                        <button @click.prevent="deleteItem(item.id,index)"
                                class="btn btn-danger d-none d-lg-block m-l-15">
                            <i class="fa fa-trash" v-if="!deletingitem[index]"></i>
                            <i class="fa fa-spin fa-spinner" v-else></i>
                        </button>
                    </div>

                </div>

            </td>
        </tr>
        </tbody>
    </table>

</template>

<script>
    export default {
        name: "index",
        props: {
            allitems: {
                type: Array,
            },
        },
        data() {
            return {
                items: this.allitems,
                deletingitem: []
            }
        },
        filters: {
            instock(item) {
                let received = _.sumBy(item.received, function (o) {
                    return o.quantity;
                });

                let issued = _.sumBy(item.issued, function (o) {
                    return o.quantity;
                });

                return received - issued ? received - issued : '';
            },
            issued(item) {
                return _.sumBy(item.issued, function (o) {
                    return o.quantity;
                });
            },
            received(item) {
                return _.sumBy(item.received, function (o) {
                    return o.quantity;
                });
            }
        },
        methods: {
            deleteItem(item, index) {
                Vue.set(this.deletingitem, index, true);
                axios.delete('/items/' + item).then(response => {
                    Vue.set(this.deletingitem, index, false);
                    this.items.splice(index, 1);
                }).catch(error => {
                    Vue.set(this.deletingitem, index, false);

                });
            }
        },
        created() {
            Bus.$on('itemAdded', data => {
                this.items.push(data);
            })
        },
    }
</script>

<style scoped>

</style>
