<template>
    <form>
        <!--Label: Date, Attributes: date-->
        <div class="col-md-6 form-group" :class="{ 'has-danger' : errors.date }">
            <label for="date" class="control-label">Date</label>
            <div>
                <input type="text" class="form-control" id="date"
                       :class="{ 'form-control-danger' : errors.date }"
                       v-model="date"
                       autocomplete="off">
                <div class="form-control-feedback" v-if="errors.date">
                    <strong>{{ errors.date.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Supply By, Attributes: supplyby-->
        <div class="col-md-6 form-group" :class="{ 'has-danger' : errors.supplyby }">
            <label for="supplyby" class="control-label">Supply By Date</label>
            <div>
                <input type="text" class="form-control" id="supplyby"
                       :class="{ 'form-control-danger' : errors.supplyby }"
                       v-model="supplyby"
                       autocomplete="off">
                <div class="form-control-feedback" v-if="errors.supplyby">
                    <strong>{{ errors.supplyby.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: LPO Number, Attributes: lponumber-->
        <div class="col-md-6 form-group" :class="{ 'has-danger' : errors.lponumber }">
            <label for="lponumber" class="control-label">LPO Number</label>
            <div>
                <input type="text" class="form-control" id="lponumber"
                       :class="{ 'form-control-danger' : errors.lponumber }"
                       v-model="lponumber"
                       autocomplete="off">
                <div class="form-control-feedback" v-if="errors.lponumber">
                    <strong>{{ errors.lponumber.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Contractor, Attributes: contractor-->
        <div class="col-md-6 form-group" :class="{ 'has-danger' : errors.contractor }">
            <label for="contractor" class="control-label">Contractor</label>
            <div>
                <select name="contractor" id="contractor" v-model="contractor"
                        :class="{ 'form-control-danger' : errors.contractor }">
                    <option :value="sup.id" v-for="sup in suppliers">{{ sup.name}}</option>
                </select>

                <div class="form-control-feedback" v-if="errors.contractor">
                    <strong>{{ errors.contractor.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="row" v-for="(lpos,index) in lpos">

            <div class="col-md-3 form-group" :class="{ 'has-danger' : errors.item }">
                <label for="item" class="control-label">Item</label>
                <div class="input-group">
                    <select class="form-control" name="item" id="item" :class="{ 'form-control-danger' : errors.item }"
                            v-model="lpos.item" @change="getUnit(index,lpos.item)">
                        <option :value="item.id" v-for="item in items"  >{{ item.name}},
                            <small>{{ item.unit}}</small>
                        </option>
                    </select>
                </div>
                <div class="form-control-feedback" v-if="errors.item">
                    <strong>{{ errors.item.toString() }}</strong>
                </div>

            </div>

            <!--Label: Unit, Attributes: Unit-->
            <div class="col-md-2 form-group" :class="{ 'has-danger' : errors.Unit }">
                <label for="Unit" class="control-label">Unit</label>
                <div>
                    <input type="text" class="form-control" id="Unit"
                           :class="{ 'form-control-danger' : errors.Unit }"
                           v-model="lpos.Unit"
                           autocomplete="off"
                    disabled>
                    <div class="form-control-feedback" v-if="errors.Unit">
                        <strong>{{ errors.Unit.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Price, Attributes: price-->
            <div class="col-md-3 form-group" :class="{ 'has-danger' : errors.price }">
                <label for="price" class="control-label">Price</label>
                <div>
                    <input type="text" class="form-control" id="price"
                           :class="{ 'form-control-danger' : errors.price }"
                           v-model="lpos.price"
                           autocomplete="off">
                    <div class="form-control-feedback" v-if="errors.price">
                        <strong>{{ errors.price.toString() }}</strong>
                    </div>
                </div>
            </div>

            <!--Label: Quantity, Attributes: quantity-->
            <div class="col-md-3 form-group" :class="{ 'has-danger' : errors.quantity }">
                <label for="quantity" class="control-label">Quantity</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="quantity"
                           :class="{ 'form-control-danger' : errors.quantity }"
                           v-model="lpos.quantity"
                           autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" @click.prevent="addQuantity"><i
                            class="fa fa-plus"></i></button>
                        <button class="btn btn-danger" type="button" @click.prevent="removeQuantity"><i
                            class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="form-control-feedback" v-if="errors.quantity">
                    <strong>{{ errors.quantity.toString() }}</strong>
                </div>
            </div>
        </div>
        <button @click.prevent='addLPO' class="btn btn-info waves-effect waves-light m-t-10">Add
            LPO <i :class="{'fa fa-spin fa-spinner':addingLPO}"></i>
        </button>
    </form>
</template>

<script>
    import * as moment from 'moment';

    export default {
        name: "create",
        props: ['items', 'suppliers'],
        data() {
            return {
                errors: '',
                lponumber: '',
                contractor: '',
                date: '',
                supplyby: '',
                addingLPO: false,
                lpos: [{
                    item: '',
                    Unit: '',
                    price: '',
                    quantity: '',
                }]
            }
        },
        mounted() {
            let Self = this;
            let select = $('#contractor').select2();
            select.on('change', function () {
                Self.contractor = this.value;
            });
            let dates = $('#date').datepicker();

            let supply = $('#supplyby').datepicker();

            $('#date').on('changeDate', function (e) {
                Self.date = moment(e.date).format('YYYY-MM-DD');
            });

            $('#supplyby').on('changeDate', function (e) {
                Self.supplyby = moment(e.date).format('YYYY-MM-DD');
            });
        },

        methods: {
            addLPO() {
                this.addingLPO = true;
                axios.post('/lpo', this.$data).then(response => {
                    this.addingLPO = false;
                    this.lponumber = '';
                    this.contractor = '';
                    this.date = '';
                    this.lpos = [{}];
                    this.supplyby = '';
                    Bus.$emit('addedLPO', response.data);
                }).catch(error => {
                    this.errors = error.response.data.errors;
                    this.addingLPO = false;
                });
            },
            addQuantity() {
                this.lpos.push({
                    item: '',
                    Unit: '',
                    price: '',
                    quantity: '',
                });

            },
            removeQuantity() {
                this.lpos.pop();
            },
            getUnit(index,item) {
                console.log(index);
                console.log(item);
                var items = _.find(this.items, function (o) {
                    return o.id === item;
                });
                this.lpos[index].Unit = items.unit
               //  console.log(items);
               //  this.lpos.index.unit = items.unit;
               //  return items;
            }
        },
    }
</script>

<style scoped>

</style>
