<template>
    <table id="example23" class="display nowrap table  table-striped "
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Inventory Name</th>
            <th>In-Stock</th>
            <th>Returned</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="inventory in inventories">
            <td>{{ inventory.name }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "index",
        props: {
            inv: {
                type: Array,
                default: []
            },
        },
        created() {
            Bus.$on('addedInventory',data=>{
                this.inventories.push(data);
            })
        },
        data() {
            return {
                inventories: this.inv
            }
        },
    }
</script>

<style scoped>

</style>
