<template>
    <form>
        <!--Label: Date, Attributes: date-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.date }">
            <label for="date" class="control-label">Date</label>
            <div>
                <input type="text" class="form-control" id="date"
                       v-model="date"
                       autocomplete="off">
                <div class="help-block" v-if="errors.date">
                    <strong>{{ errors.date.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Requested By, Attributes: requestedby-->
        <div class="col-md-6 form-group" :class="{ 'has-danger' : errors.requestedby }">
            <label for="requestedby" class="control-label">Requested By</label>
            <div>
                <input type="text" class="form-control" id="requestedby"
                       v-model="requestedby" :class="{ 'form-control-danger' : errors.requestedby }"
                       autocomplete="off">
                <div class="form-control-feedback" v-if="errors.requestedby">
                    <strong>{{ errors.requestedby.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Department, Attributes: department-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.department }">
            <label for="department" class="control-label">Department</label>
            <div>
                <input type="text" class="form-control" id="department"
                       v-model="department"
                       autocomplete="off">
                <div class="help-block" v-if="errors.department">
                    <strong>{{ errors.department.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Account, Attributes: account-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.account }">
            <label for="account" class="control-label">Account</label>
            <div>
                <input type="text" class="form-control" id="account"
                       v-model="account"
                       autocomplete="off">
                <div class="help-block" v-if="errors.account">
                    <strong>{{ errors.account.toString() }}</strong>
                </div>
            </div>
        </div>

        <div class="row" v-for="(field,index) in requisitions">
            <!--Label: Quantity, Attributes: quantity-->
            <div class="col-md-4 no-padding form-group" :class="{ 'has-error' : errors.quantity }">
                <label for="quantity" class="control-label">Quantity</label>
                <div>
                    <input type="text" class="form-control" id="quantity"
                           v-model="field.quantity"
                           autocomplete="off">
                    <div class="help-block" v-if="errors.quantity">
                        <strong>{{ errors.quantity.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Unit, Attributes: Unit-->
            <div class="col-md-3 no-padding form-group" :class="{ 'has-error' : errors.Unit }">
                <label for="Unit" class="control-label">Unit</label>
                <div>
                    <input type="text" class="form-control" id="Unit"
                           v-model="field.Unit"
                           autocomplete="off">
                    <div class="help-block" v-if="errors.Unit">
                        <strong>{{ errors.Unit.toString() }}</strong>
                    </div>
                </div>
            </div>            <!--Label: Item, Attributes: item-->
            <div class="col-md-4 no-padding form-group" :class="{ 'has-error' : errors.item }">
                <label for="item" class="control-label">Item</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="item"
                           v-model="field.item"
                           autocomplete="off">

                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" @click.prevent="addQuantity"><i
                            class="fa fa-plus"></i></button>
                        <button class="btn btn-danger" type="button" @click.prevent="removeQuantity"><i
                            class="fa fa-minus"></i></button>
                    </div>

                </div>
                <div class="help-block" v-if="errors.item">
                    <strong>{{ errors.item.toString() }}</strong>
                </div>
            </div>
            <!--Label: Remarks, Attributes: remarks-->
            <!--<div class="col-md-3 no-padding form-group" :class="{ 'has-error' : errors.remarks }">-->
            <!--<label for="remarks" class="control-label">Remarks</label>-->
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" id="remarks"-->
            <!--v-model="field.remarks"-->
            <!--autocomplete="off">-->
            <!--<div class="help-block" v-if="errors.remarks">-->
            <!--<strong>{{ errors.remarks.toString() }}</strong>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <button @click.prevent='addRequisition' class="btn btn-info waves-effect waves-light m-t-10">Add
            Requisition
        </button>

    </form>
</template>

<script>
    import * as datepicker from 'bootstrap-datepicker';
    import * as moment from 'moment';
    export default {
        name: "create",
        datepicker,
        data() {
            return {
                errors: '',
                date: '',
                department: '',
                account: '',
                requestedby: '',
                quantity: '',
                Unit: '',
                item: '',
                remarks: '',
                requisitions: [{
                    quantity: '',
                    Unit: '',
                    item: '',
                    remarks: '',
                }],
            }
        },
        mounted(){
            let Self = this;
            let dates = $('#date').datepicker();
            $('#date').on('changeDate', function (e) {
                console.log(moment(e.date).format('YYYY-MM-DD'));
                Self.date = moment(e.date).format('YYYY-MM-DD');
            });
        },
        methods: {
            addQuantity() {
                this.requisitions.push({
                    quantity: '',
                    Unit: '',
                    item: '',
                    remarks: '',
                });
            },
            addRequisition() {
                axios.post('/requisition', this.$data).then(response => {
                    this.date = '';
                    this.department = '';
                    this.account = '';
                    this.requestedby = '';
                    this.quantity = '';
                    this.Unit = '';
                    this.item = '';
                    this.remarks = '';
                    this.requisitions = [{}];
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            },
            removeQuantity() {
                this.requisitions.pop();
            }
        }

    }
</script>

<style scoped>

</style>
