<template>
    <table id="example23" class="display nowrap table  table-striped "
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Supplier Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="(supplied,index) in received">
            <td>{{supplied.date | convertDates}}</td>
            <td>{{ supplied.item.name.toLocaleUpperCase() }}</td>
            <td>{{ supplied.supplier.name.toLocaleUpperCase() }}</td>
            <td>{{ supplied.quantity.toLocaleString() }}</td>
            <td>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark d-none d-lg-block m-l-15" data-toggle="modal"
                                data-target=".bs-edit-modal">
                            <i class="fa fa-pencil"></i>
                        </button>

                        <button @click.prevent="deleteBeans(supplied.id,index)"
                                class="btn btn-danger d-none d-lg-block m-l-15">
                            <i class="fa fa-trash" v-if="!deletingReceived[index]"></i>
                            <i class="fa fa-spin fa-spinner" v-else></i>
                        </button>
                    </div>

                </div>

            </td>
        </tr>

        </tbody>

    </table>
</template>

<script>
    import moment from 'moment';
    import select2 from 'select2';

    export default {
        name: "index",
        props: ['items'],
        moment,
        created() {
            Bus.$on('ReceivedItem', data => {
                this.received.unshift(data)
            })

        },

        filters: {
            convertDates: function (value) {
                return moment(value).format('ll');
            }

        },
        data() {
            return {
                received: this.items,
                deletingReceived: []
            }
        },

    }
</script>

<style scoped>

</style>
