<template>
    <div>
        <form>
            <!--Label: Date, Attributes: date-->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.date }">
                <label for="date" class="control-label">Date</label>
                <div>
                    <input type="date" class="form-control" id="date"
                           v-model="date"
                           autocomplete="off">
                    <div class="help-block" v-if="errors.date">
                        <strong>{{ errors.date.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Item, Attributes: item-->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.item }">
                <label for="item" class="control-label">Item</label>
                <div>
                    <select name="item" id="item" v-model="item" class="form-control">
                        <option v-for="item in items" :value="item.id">{{ item.name }}</option>
                    </select>

                    <div class="help-block" v-if="errors.item">
                        <strong>{{ errors.item.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Quantity, Attributes: quantity-->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.quantity }">
                <label for="quantity" class="control-label">Quantity</label>
                <div>
                    <input type="text" class="form-control" id="quantity"
                           v-model="quantity"
                           autocomplete="off">
                    <div class="help-block" v-if="errors.quantity">
                        <strong>{{ errors.quantity.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Issued To, Attributes: issuedto-->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.issuedto }">
                <label for="issuedto" class="control-label">Issued To</label>
                <div>
                    <input type="text" class="form-control" id="issuedto"
                           v-model="issuedto"
                           autocomplete="off">
                    <div class="help-block" v-if="errors.issuedto">
                        <strong>{{ errors.issuedto.toString() }}</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" @click.prevent="issueItem()">
                    Issue Item
                    <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': issuingItem}"></i>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "create",
        props: ['items'],
        data() {
            return {
                errors: '',
                date: '',
                item: '',
                quantity: '',
                issuedto: '',
                issuingItem: false
            }
        },
        methods: {
            issueItem() {
                axios.post('/issue', this.$data).then(response => {
                    this.issuingItem = false;
                    this.date = '';
                    this.errors = '';
                    this.quantity = '';
                    this.issuedto = '';
                    Bus.$emit('issuedItem', response.data)
                }).catch(error => {
                    this.issuingItem = false;
                    this.errors = error.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>
