<template>
    <form>
        <!--Label: Supplier Name, Attributes: name-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.name }">
            <label for="name" class="control-label">Supplier Name</label>
            <div>
                <input type="text" class="form-control" id="name"
                       v-model="name"
                       autocomplete="off">
                <div class="help-block" v-if="errors.name">
                    <strong>{{ errors.name.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Supplier Phone Number, Attributes: phonenumber-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.phonenumber }">
            <label for="phonenumber" class="control-label">Supplier Phone Number</label>
            <div>
                <input type="text" class="form-control" id="phonenumber"
                       v-model="phonenumber"
                       autocomplete="off">
                <div class="help-block" v-if="errors.phonenumber">
                    <strong>{{ errors.phonenumber.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" @click.prevent="addSupplier()">
                Add Supplier
                <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': savingSupplier}"></i>
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "create",
        data() {
            return {
                errors: '',
                name: '',
                phonenumber: '',
                savingSupplier: false
            }
        },
        methods: {
            addSupplier() {
                this.savingSupplier = true;
                axios.post('/suppliers',this.$data).then(response=>{
                    this.name = '';
                    this.phonenumber = '';
                    this.savingSupplier = false;
                    Bus.$emit('supplierAdded',response.data)
                }).catch(error=>{
                    this.errors = error.response.data.errors;
                    this.savingSupplier = false;
                });
            }
        },
    }
</script>

<style scoped>

</style>
