<template>
    <div>
        <table id="supplier" class="display nowrap table table-hover table-striped table-bordered"
               cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Supplier Name</th>
                <th>Supplier Phone Number</th>

                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Supplier Name</th>
                <th>Supplier Phone Number</th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            <tr v-for="contractor in supplier">
                <td>{{ contractor.name }}</td>
                <td>{{ contractor.phonenumber }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "index",
        props: ['suppliers'],
        created() {
            Bus.$on('supplierAdded',data=>{
                this.supplier.push(data);
            })
        },
        data() {
            return {
                supplier: this.suppliers
            }
        },
    }
</script>

<style scoped>

</style>
