<template>
    <form>
        <!--Label: Group Name, Attributes: group-->
        <div class="col-md-12 form-group" :class="{ 'has-error' : errors.group }">
            <label for="group" class="control-label">Ledger Name</label>
            <div>
                <input type="text" class="form-control" id="group"
                       v-model="group"
                       autocomplete="off">
                <div class="help-block  text-danger" v-if="errors.group">
                    <strong>{{ errors.group.toString() }}</strong>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-success" @click.prevent="addgroup()">
                Add Ledger
                <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': savingGroup}"></i>
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "create",
        data() {
            return {
                errors: '',
                group: '',
                savingGroup: false
            }
        },

        methods: {
            addgroup: function () {
                this.savingGroup = true;

                axios.post('/groups', this.$data).then(response => {
                    this.savingGroup = false;
                    this.group = '';
                    this.errors = '';
                    Bus.$emit('groupAdded', response.data);
                }).catch(error => {
                    this.savingGroup = false;
                    this.errors = error.response.data.errors
                });
            },

        },
    }
</script>

<style scoped>

</style>
