<template>
    <div>
        <table id="example23" class="display nowrap table  table-striped "
               cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Ledger Name</th>
                <th></th>
            </tr>
            </thead>
            <!--<tfoot>-->
            <!--<tr>-->
            <!--<th>Group Name</th>-->
            <!--<th>Group Items</th>-->
            <!--<th>Current State</th>-->
            <!--<th></th>-->
            <!--</tr>-->
            <!--</tfoot>-->
            <tbody>
            <tr v-for="(group,index) in groups">
                <td>
                    <a :href="'/groups/'+group.id">{{ group.group }}</a>
                </td>
                <td>

                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-dark d-none d-lg-block m-l-15" data-toggle="modal"
                                    data-target=".bs-edit-modal">
                                <i class="fa fa-pencil"></i>
                            </button>

                            <button @click.prevent="deleteGroup(group.id,index)"
                                    class="btn btn-danger d-none d-lg-block m-l-15">
                                <i class="fa fa-trash" v-if="!deletinggroup[index]"></i>
                                <i class="fa fa-spin fa-spinner" v-else></i>
                            </button>
                        </div>

                    </div>

                    <!--<i class="fa fa-pencil" @click="editGroup"></i>-->
                    <!--<i class="fa fa-trash" ></i>-->
                </td>
            </tr>

            </tbody>

        </table>

        <div class="modal fade bs-edit-modal" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Edit Ledger</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                    </div>
                    <div class="modal-body">
                        <editgroup></editgroup>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</template>

<script>
    export default {
        name: "index",
        props: ['groupings'],
        created() {
            Bus.$on('groupAdded', data => {
                this.groups.push(data);
            });
        },
        data() {
            return {
                groups: this.groupings,
                deletinggroup: []
            }
        },
        methods: {
            deleteGroup(group, index) {
                Vue.set(this.deletinggroup, index,true);
                axios.delete('/groups/' + group).then(response => {
                    Vue.set(this.deletinggroup, index,false);
                    this.groups.splice(index, 1);
                }).catch(error => {
                    Vue.set(this.deletinggroup, index,false);
                });
            },
            editGroup() {

            }

        },
    }
</script>

<style scoped>

</style>
